numpy
wheel
python-docx
pymupdf
easyocr
langdetect
rapidfuzz
spacy
fastapi[standard]
annotated-types==0.7.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
opencv-python-headless
presidio-analyzer
unidecode
